<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes comptes bancaires</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="container">
    <div th:insert="headerProfile :: header"></div>
    <div th:insert="headerProfile :: profileBreadcrumb"></div>
    <div class="container p-5">
        <div class="container">
            <div class="row">
                <h2 class="h2 col-5 text-start m-0 p-0">Mes comptes bancaires</h2>
                <a th:href="@{/externalTransaction}" class="btn btn-secondary col-3 offset-4">Virements externes</a>
            </div>
        </div>
        <div class="mt-4 border border-dark border-2 text-center">

            <table class="table table-striped ">
                <thead class="bg-info text-white">
                <tr>
                    <th>Nom</th>
                    <th>IBAN</th>
                    <th>BIC</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${bankAccounts.empty}">
                    <td colspan="3">Aucun compte bancaire enregistré</td>
                </tr>
                <tr th:each="bankAccount: ${bankAccounts}">
                    <td><span th:text="${bankAccount.name}"></span></td>
                    <td><span th:text="${bankAccount.iban}"></span></td>
                    <td><span th:text="${bankAccount.bic}"></span></td>
                    <td>
                        <a th:href="@{/updateBankAccount/{id}(id=${bankAccount.id})}">
                            <button class="btn btn-info">Modifier</button>
                        </a>
                        <button class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target=${'#deleteModal'+bankAccount.id}"
                                data-bankAccount="${bankAccount}">
                            Supprimer
                        </button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <h4><a th:href="@{/createBankAccount}">Ajouter un compte bancaire</a></h4>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" th:each="bankAccount : ${bankAccounts}" th:attr="id=${'deleteModal'+bankAccount.id}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Voulez-vous supprimer ce compte ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a th:href="@{/deleteBankAccount/{id}(id=${bankAccount.id})}">
                    <button class="btn btn-danger">Supprimer</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>