<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes Contacts</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="container">
    <div th:insert="headerContact :: header"></div>
    <div th:insert="headerContact :: contactBreadcrumb"></div>
    <div class="container p-5">
        <div class="alert alert-success alert-dismissible fade show my-1" role="alert" th:unless="${#strings.isEmpty(message)}">
            <span th:text="${message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h3 class="h3">Ajout d'un nouveau contact</h3>
        <div class="bg-light p-3 mb-3">
            <form method="post"
                  th:action="@{/contact}" th:object="${emailAddress}">
                <div class="alert alert-danger alert-dismissible fade show my-2" role="alert" th:each="err : ${#fields.errors('global')}">
                    <span th:text="${err}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-2 text-end">
                            <label for="emailInput" class="form-label">Email : </label>
                        </div>
                        <div class="col-8">
                            <input type="email" th:field="*{address}" class="form-control" id="emailInput"
                                   aria-describedby="emailHelp" placeholder="Saisir l'email du nouveau contact">
                        </div>
                        <div class="col-2 d-grid">
                            <button type="submit" class="btn btn-info">Ajouter</button>
                        </div>
                    </div>
                    <div class="col-7 offset-2 p-2">
                        <small class=" text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
                    </div>
                </div>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <h3 class="h3 col-3 text-start m-0 p-0">Mes contacts</h3>
                <a th:href="@{/transaction}" class="btn btn-secondary col-3 offset-6">Nouveau virement</a>
            </div>
        </div>
        <div class="mt-4 border border-dark border-2 text-center">
            <table class="table table-striped">
                <thead class="bg-info text-white">
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${contacts.empty}">
                    <td colspan="3">Aucun contact</td>
                </tr>
                <tr th:each="contact: ${contacts}">
                    <td><span th:text="${contact.firstName}"> Prénom </span></td>
                    <td><span th:text="${contact.lastName}"> Nom </span></td>
                    <td><span th:text="${contact.email}"> Email </span></td>
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target=${'#deleteModal'+contact.recipientId}"
                                data-contact="${contact}">
                            Supprimer
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation" th:if="${contacts.totalPages > 1}">
            <ul class="pagination m-2 justify-content-center">
                <li class="page-item" th:if="${contacts.number > 0}">
                    <a class="page-link" th:href="@{/contact(page=${contacts.number})}">
                        &#171;
                    </a>
                </li>
                <li th:attr="class=${pageNumber == (contacts.number + 1) ? 'active page-item' : 'page-item'}"
                    th:each="pageNumber:${#numbers.sequence(1, contacts.totalPages)}">
                    <a th:href="@{/contact(page=${pageNumber})}"
                       th:text=${pageNumber}
                       class="page-link"></a>
                </li>
                <li th:if="${contacts.number < contacts.totalPages - 1}" class="page-item">
                    <a class="page-link" th:href="@{/contact(page=${contacts.number + 2})}">
                        &#187;
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" th:each="contact : ${contacts}" th:attr="id=${'deleteModal'+contact.recipientId}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Voulez-vous supprimer ce contact ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a th:href="@{/deleteContact/{recipientId}(recipientId=${contact.recipientId})}">
                    <button class="btn btn-danger">Supprimer</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>