<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajout nouveau compte</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
    <div th:insert="header :: header"></div>
    <div th:insert="header :: addBankAccountBreadcrumb"></div>
    <h2 class="h2">Ajout d'un nouveau compte en banque</h2>

    <div>
        <form method="post"
              th:action="@{/createBankAccount}" th:object="${bankAccount}">
            <div class="form-group">
                <ul th:if="${#fields.hasErrors('global')}">
                    <li th:each="err : ${#fields.errors('global')}" th:text="${err}">Ce compte existe déjà.</li>
                </ul>
                <label for="nameInput" class="form-label">Nom</label>
                <input
                        type="text" th:field="*{name}" class="form-control" id="nameInput"
                        aria-describedby="nameHelp" placeholder="Saisir le nom du compte (facultatif)">
            </div>
            <div class="form-group">
                <label for="ibanInput" class="form-label">IBAN</label>
                <input
                        type="text" th:field="*{iban}" class="form-control" id="ibanInput"
                        aria-describedby="ibanHelp" placeholder="Saisir l'IBAN">
                <span th:if="${#fields.hasErrors('iban')}" th:errors="*{iban}"></span>
            </div>
            <div class="form-group">
                <label for="bicInput" class="form-label">BIC</label>
                <input
                        type="text" th:field="*{bic}" class="form-control" id="bicInput"
                        aria-describedby="bicHelp" placeholder="Saisir le BIC">
                <span th:if="${#fields.hasErrors('bic')}" th:errors="*{bic}"></span>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>