<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supprimer un compte</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="container-fluid">
    <div th:insert="headerProfile :: header"></div>
    <div th:insert="headerProfile :: profileBreadcrumb"></div>
    <div class="container special">
        <h2 class="h2">Supprimer un compte</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>IBAN</th>
                    <th>BIC</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bankAccount: ${bankAccounts}">
                    <td><span th:text="${bankAccount.name}"></span></td>
                    <td><span th:text="${bankAccount.iban}"></span></td>
                    <td><span th:text="${bankAccount.bic}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a th:href="@{/deleteBankAccount/{id}(id=${bankAccount.id})}">
        <button class="btn btn-danger">Supprimer</button>
    </a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>