<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes virements vers mon compte bancaire</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container">

    <div th:insert="headerProfile :: header"></div>
    <div th:insert="headerProfile :: externalTransactionsBreadcrumb"></div>

    <div class="container p-5">
        <div class="container">
            <div class="row">
                <h2 class="h2 col-8 text-start m-0 p-0">Mes virements vers mon compte bancaire</h2>
                <a th:href="@{/newExternalTransaction}" class="btn btn-secondary col-3 offset-1">Nouveau virement
                    externe</a>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible fade show my-1" role="alert" th:unless="${#strings.isEmpty(message)}">
            <span th:text="${message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="mt-4 border border-dark border-2 text-center">
            <table class="table table-striped ">
                <thead class="bg-info text-white">
                <tr>
                    <th>Date</th>
                    <th>Somme</th>
                    <th>Description</th>
                    <th>Compte</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${externalTransactions.empty}">
                    <td colspan="12">Aucun virement externe</td>
                </tr>
                <tr th:each="externalTransaction: ${externalTransactions}">
                    <td><span th:text="${externalTransaction.timestamp}"></span></td>
                    <td><span th:text="${externalTransaction.transactionType eq '0'}? '-' : '+'"></span>
                        <span th:text="${externalTransaction.amount}"></span></td>
                    <td><span th:text="${externalTransaction.description}"></span></td>
                    <td><span th:text="${externalTransaction.bankAccount.name}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>