<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes Virements</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="container">
    <div th:insert="headerTransfer :: header"></div>
    <div th:insert="headerTransfer :: transferBreadcrumb"></div>
    <div class="container p-5">
        <div class="container my-1">
            <div class="row">
                <h3 class="col-5 text-start m-0 p-0" th:unless="${contacts.empty}">Nouveau virement</h3>
                <h3 class="col-5 text-start m-0 p-0" th:if="${contacts.empty}">Ajouter un contact</h3>
                <a th:href="@{/contact}" class="btn btn-secondary col-2 offset-5">Nouveau contact</a>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible fade show my-2" role="alert" th:unless="${#strings.isEmpty(message)}">
            <span th:text="${message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="bg-light p-3 my-2" th:if="${contacts.empty}">
            <span>Pour effectuer un virement, ajouter d'abord un nouveau contact.</span>
        </div>
        <div class="bg-light p-3 mb-3 mt-2" th:unless="${contacts.empty}">
            <form method="post"
                  th:action="@{/transaction(page=${transactions.number+1})}" th:object="${transactionDto}">
                <div class="alert alert-danger text-danger pb-0" th:if="${#fields.hasErrors('global')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('global')}"><small th:text="${err}"></small></li>
                    </ul>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-3 form-group">
                            <select class="form-control" id="contactSelect" th:field="*{contactId}">
                                <option th:value="0" hidden selected>Choisir un contact</option>
                                <option th:each="contact : ${contacts}" th:value="${contact.recipientId}"
                                        th:text="${contact.firstName + ' ' + contact.lastName}">
                                    Choisir le contact
                                </option>
                            </select>
                        </div>
                        <div class="col-2 form-group">
                            <input
                                    type="number" step="0.01" th:field="*{amount}" class="form-control" id="montantInput"
                                    placeholder="Montant">
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{description}" class="form-control" id="descriptionInput"
                                   placeholder="Saisir la description du virement" maxlength="64">
                        </div>
                        <div class="col-2 d-flex justify-content-center">
                            <button type="submit" class="btn btn-info flex-fill ">Payer</button>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-3 form-group text-danger">
                            <small th:if="${#fields.hasErrors('contactId')}" th:errors="*{contactId}"></small>
                        </div>
                        <div class="col-2 form-group text-danger">
                            <small th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <h3 class="h3 col-3 text-start m-0 p-0">Mes virements</h3>
        <div class="mt-3 border border-dark border-2 text-center">
            <table class="table table-striped">
                <thead class="bg-info text-white">
                <tr>
                    <th>Contact</th>
                    <th>Description</th>
                    <th>Montant</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${transactions.totalElements == 0}">
                    <td colspan="3">Aucun virement effectué ou reçu.</td>
                </tr>
                <tr th:each="transaction: ${transactions}">
                    <td><span th:text="${transaction.contact.firstName + ' ' + transaction.contact.lastName}"></span></td>
                    <td><span th:text="${transaction.description}"> </span></td>
                    <td><span th:text="${transaction.amount}"> </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation" th:if="${transactions.totalPages > 1}">
            <ul class="pagination m-2 justify-content-center">
                <li class="page-item" th:if="${transactions.number > 0}">
                    <a class="page-link" th:href="@{/transaction(page=${transactions.number})}">
                        &#171;
                    </a>
                </li>
                <li th:attr="class=${pageNumber == (transactions.number + 1) ? 'active page-item' : 'page-item'}"
                    th:each="pageNumber:${#numbers.sequence(1, transactions.totalPages)}">
                    <a th:href="@{/transaction(page=${pageNumber})}"
                       th:text=${pageNumber}
                       class="page-link"></a>
                </li>
                <li th:if="${transactions.number < transactions.totalPages - 1}" class="page-item">
                    <a class="page-link" th:href="@{/transaction(page=${transactions.number + 2})}">
                        &#187;
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>